body {
    background: #020218;
    color: oldlace;
    font-family: 'Open Sans', sans-serif;
}

.site-title, .site-title:visited {
    color: #FFE176;
}

.site-title:hover {
    color: #20C20E;
}

.site-nav .page-link {
    color: #FFE176;
}

.site-footer{
    padding: 30px;
}

@media screen and (max-width: 600px) {
    .site-nav {
        background-color: black;
    }
}

.page-link:hover {
    color: #20C20E;
}

a, a:visited {
    color: #FFE176;
    text-decoration: none;
}

a:hover{
    color: #20C20E;
    text-decoration: none;
}

.highlighter-rouge .highlight {
    background: black;
}

pre, code {
    background-color: black;
    color: #20C20E;
}

.centered {
    text-align: center;
}

@media screen and (max-width: 420px) {
    pre, code {
        font-size: 6px;
    }
}

@media screen and (min-width: 420px) and (max-width: 800px) {
    pre, code {
        font-size: 9px;
    }
}
