<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">

        <div class="footer-col-wrapper">
            <div class="social-links">
                {%- include social.html -%}
            </div>
        </div>

    </div>

</footer>
